* {
    margin: 0px;
    padding: 0px;
}

.product-item {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    outline: 1px solid black;
    margin: 10px;

}

.product-item:hover {
    outline: 0px solid black;

}

.product-item>button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.product-item>h3 {
    position: absolute;
    text-align: center;
    top: 30px;
}

.product-item>p {
    position: absolute;
    bottom: 40px;
}

.btn-cart {
    height: 50px;
    width: 150px;
    margin: 10px;
    float: right;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}